<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LMLGestureHeadImageScrollViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>480154721D90D14700D996B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4801548B1D90D14800D996B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>480154961D90D14800D996B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
